/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
.html, body {
	margin: 20px;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/

header {
    height: 40px;
	padding: 25px;
	background-color: #353535;
}

h1 {
	padding: 0 0 0 70px;
	margin: 20px;
	font-size: 30pt;
	font-family: Cousine, sans-serif;
	color: #08fc22;
	display: inline;
}

em {
	font-size: 10pt;
	font-family: Cousine, sans-serif;
	color: #08fc22;
	display: inline;
}

 .container img{
	padding: 40px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.instructions-wrapper {
	width: 1000px;
    height: 200px;
	border: 5px solid black;
	display: block;
	padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

.instructions-content h2 {
    font-size: 15pt;
    font-family: Cousine, sans-serif;
    color: black;
    padding: 25px 0 0 25px;
    margin: 0;
    display: inline;
}

.instructions-content ol{
	padding: 0 0 0 40px;
	display: block;
    margin: 5px;
}

.instructions-wrapper img {
	padding: 10px 0 300px 780px;
    margin: 0 0 150px 0;
	display: block;
	width: 20%;
	height: auto;

}

h2 {
	font-size: 15pt;
	font-family: Cousine, sans-serif;
	color: black;
	display: inline;
}

h4 {
	padding: 2px;
	margin: 5px;]
	font-size: .5pt;
	font-family: Cousine, sans-serif;
	color: white;
}

.about-me {
	background-color: blue;
	padding: 5px;
	margin-top: 50px;
    margin-bottom: 50px;
	display: block;
}

.about-me img {
    padding: 0;
    margin: 35px;
	border: 2px solid white;
    display: block;
    width: 24%;
    height: auto;
}

.containter h2 {
	font-size: 12pt;
	text-align: right;
	font-family: Cousine, sans-serif;
	color: white;
	display: inline;
}

.container h2{
	font-size: 12pt;
	font-family: Cousine, sans-serif;
	padding: 50px 0 30px 795px;
	margin: 0 0 50px 0;
	color: black;
	display: inline;
}

.container table {
	font-family: Cousine, sans-serif;
	background-color: #454545;
	width: 1000px;
	height: 200px;
	text-align: left;
	margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
	border-collapse: collapse;
}
.container table td, .container table th {
	border: 2px solid #FFFFFF;
	padding: 3px 3px;
}

.container table th {
	font-size: 16px;
	font-weight: bold;
	color: #36D900;
	text-align: left;
	border-left: 2px solid #FFFFFF;
}

.container table tbody td {
	font-size: 13px;
	color: #36D900;
}
.container table thead {
	background: #474747;
	border-bottom: 2px solid #FFFFFF;
}

.container table tfoot td {
	font-size: 14px;
}

.form-wrapper {
    background-color: #353535;
    display: block;
    padding: 30px 400px 30px 480px;
    margin: 50px 0 0 0;
}

footer {
	font-size: 10px;
	height: 25px;
	padding: 15px;
	text-align: center;
	background-color: #0a0005;
}